.venv/
.env
__pycache__/
.pytest_cache/
.ruff_cache/
allure-results/
allure-report/
test-results/
artifacts/
*.log
node_modules/
.env.daily
.env.*
!.env.example
!.env.js.example
.cache/
playwright-report/
blob-report/
